

/*
  1. Hamburger Menu w/ Cross transform
  2. Floating Action Button Menu
  3. Floating Action Button : Actived
*/




input[id="switch"]{
  display: none;
}


/* 1. Hamburger Menu w/ Cross transform */

#hamburger {
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 93.5%;
  bottom: 8%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.48);
  background-color: black;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#hamburger .icon {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
#hamburger .icon + .icon {
  margin-top: 4px;
}

input[id="switch"]:checked + label #hamburger{
  box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.48);
}

input[id="switch"]:checked + label #spanWrapper{
    transition: transform 0.4s ease-in-out;
    transform: rotateZ(90deg);
}

input[id="switch"]:checked + label span:nth-child(1) {
  transform: translateY(6px) rotateZ(45deg) scaleX(0.9);
}

input[id="switch"]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id="switch"]:checked + label span:nth-child(3) {
  transform: translateY(-6px) rotateZ(-45deg) scaleX(0.9);
}



/* 2. Floating Action Button Menu */

.nav {
  z-index: 998;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: none;
  left: 93.5%;
  bottom: 10%;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.48);
  background-color: #f9f9f9;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.nav p{
  z-index: 998;
  visibility: hidden;
  position: absolute;
  text-align: center;
  width: 80px;
  top:16px;
  right: 115%;
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.48);
  font-weight: bold;
  background-color: black;
  color: #FFFFFF;
}



/* 3. Floating Action Button : Actived */

.nav:hover p{
  visibility: visible;
}
.nav:hover{
  font-size: 28px !important;
  background-color: wheat;
  box-shadow: 7px 7px 10px 0px rgba(0,0,0,0.48);
  transition: all 0.25s ease-in-out;
}

input[id="switch"]:checked + label .nav {
  visibility: visible;
  opacity: 1;
}

input[id="switch"]:checked + label #mypage {
  transform: translateY(-125%);
  font-size: 25px;
}
input[id="switch"]:checked + label #createMagazine {
  transform: translateY(-250%);
  font-size: 25px;
}
input[id="switch"]:checked + label #createFeed {
  transform: translateY(-375%);
  font-size: 25px;
}
input[id="switch"]:checked + label #share {
  transform: translateY(-500%);
}